ul {
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    
    padding: 10px;
}

li.active::after {
    content: '';
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red; /* Color de la línea */
}
